body {
 background-image: url("img/background.png");
 background-color: #ffffff;
 background-repeat: no-repeat;
 background-position: center;
}

#address-text {
    width: 380px;
}

#container {
    width: 390px;
    height: 500px;
    /*background-color: red;*/

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    /*margin: auto;*/
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;

    background-image: none;
    background-color: #ffffff;
}
